* {
    padding: 0;
    margin: 0;
    color: #003559;
}
body {
    background-color: #006daa;
}
h1 {
    font-size: 3vh;
}
#Header {
    width: 100vw;
    height: 5vh;
    position: fixed;
    background-color: #003559;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom: #061a40 solid 5px;
}
#Header_Title {
    color: #B9D6F2;
    padding: 0 1vw;
    font-size: 4vh;
    overflow-wrap: normal;
}
#Body {
    width: 100vw;
    padding-top: 6vh;
}
